body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#animation_container {
  /* background-color: #EA666F; */
  background: #000;
  /* width: 717px;
height: 1260px */
  width: 100%;
  /* height: 100%; */
  position: relative;
}
.qr {
  position: absolute;
  transform: translate(-56%, 46%);
  top: 50%;
  left: 50%;
  width: 17.5%;
  display: none;
}

#canvas {
  /* position: absolute; */
  display: block;
  background-color: rgba(0, 0, 0, 1.00);
  width: 100%;
}